body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Card product */
.category-container {
  border-radius: 12px;
}
.products-list {
  padding-left: 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.product-description {
  font-size: 14px;
  color: #848484;
}