:root {
  --fz-large: 16px;
  --fz-medium: 14px;
  --fz-small: 12px;
  --color-gray: #848484;
  --color-light-gray: #dee2e6;
  --color-bg-light: #f1f4f6;
  --color-orange: #F4A261;
  --color-dark-orange: #E76F51;
  --color-green: #2A9D8F;
  --color-dark-green: #264653;
  --color-mustard: #E9C46A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-name, .item-name, .item-total, .item-qty, .total-text, .total-price, .modal-title, .footer-text {
  color: var(--color-dark-green);
}

header h1 {
  margin-top: 0 !important;
  padding: 1rem;
  background: var(--color-green);
  color: white;
}

main  {
  max-width: 800px;
  margin: auto;
}

/* Card product */
.accordion-header button {
  font-weight: 600;
}

.accordion-button {
  color: var(--color-dark-green) !important;
}

.accordion-button:focus {
  border-color: var(--color-green) !important;
  box-shadow: 0 0 0 0.10rem var(--color-green) !important;
}

.accordion-button:not(.collapsed) {
  color: var(--color-dark-green) !important;
  /* background-color: #2a9d8f24 !important; */
  background-color: transparent !important;
  box-shadow: 0 0 0 0.10rem var(--color-green) !important;
}

.accordion-button:not(.collapsed)::after {
  color: var(--color-dark-green) !important;
  background-image: url("./assets/vectorpaint.svg") !important;
}

.category-container {
  border-radius: 12px;
}
.products-list {
  padding-left: 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 15px;
  border-radius: 8px;
  background: #fff;
}

.product-info:nth-child(odd) {
  background-color: var(--color-bg-light);
}

.product-description {
  font-size: 14px;
  color: var(--color-gray);
}

.product-name, .product-price {
  font-size: var(--fz-medium);
}

/* Main */
main {
  min-height: 100%;
  padding-bottom: 50px;
}

/* Modal / resume */
.modal-content {
  padding-bottom: 15px !important;
  padding-top: 5px !important;
}

.modal-header {
  margin-bottom: 1rem;
}

.modal-body {
  padding: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  overflow: scroll;
}

.modal-body::-webkit-scrollbar-track {
  border: none;
  background-color: transparent;
}

.modal-body::-webkit-scrollbar {
  width: 6px;
}

.modal-body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #adadad;
  border: none;
}

.cart-container-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.cart-container-product:last-child {
  border-bottom: none !important;
}

.cart-container-product:nth-child(odd) {
  background-color: var(--color-bg-light);
}

.cart-product-price-and-actions {
  display: flex;
  font-size: var(--fz-medium);
}

.item-actions {
  margin-left: 15px;
}

.add-remove-cart-container {
  display: flex;
}

.add-remove-cart-container .item-qty {
  display: inline-block;
  width: 30px;
  height: 25px;
  text-align: center;
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
}

.btn-add, .btn-remove {
  border: none;
  background-color: var(--color-green);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 22px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}

.btn-add {
  border-radius: 10px 0px 0px 10px;
}

.btn-remove {
  border-radius: 0px 10px 10px 0px;
}

.item-name {
  font-size: var(--fz-medium);
}

.item-amount {
  color: var(--color-gray);
  font-size: var(--fz-small);
}

.btn-make-order {
  background-color: var(--color-green) !important;
  color: #fff !important;
}

.btn-edit-order {
  background-color: var(--color-mustard) !important;
  color: var(--color-dark-green) !important;
}

.modal-footer-container {
  padding: 0 20px 15px 20px;
  border-top: 1px solid var(--color-light-gray);
  padding-top: 20px;
}

.order-resume-container {
  background: var(--color-bg-light);
  color: var(--color-dark-green);
}

.item-resume-container {
  display: flex;
  justify-content: space-between;
  font-size: var(--fz-small);
  color: var(--color-dark-green);
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-text {
  font-size: var(--fz-small);
}

.cart-container {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--color-dark-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.cart-container svg {
  width: 30px;
  height: 30px;
}

.cart-qty {
  position: absolute;
  top: -5px;
  right: 0;
  width: 20px;
  height: 20px;
  background: var(--color-green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fz-small);
}