:root {
  --fz-large: 16px;
  --fz-medium: 14px;
  --fz-small: 11px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main  {
  max-width: 800px;
  margin: auto;
}

/* Card product */

.accordion-header button {
  font-weight: 600;
}

.category-container {
  border-radius: 12px;
}
.products-list {
  padding-left: 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
}

.product-description {
  font-size: 14px;
  color: #848484;
}

.product-name, .product-price {
  font-size: var(--fz-medium);
}

/* Main */
main {
  min-height: 100%;
  padding-bottom: 50px;
}

/* Modal / resume */
.cart-container-product {
  display: flex;
  justify-content: space-between;
}

.item-amount {
  color: #848484;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.cart-container {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #E76F51;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}

.cart-container svg {
  width: 30px;
  height: 30px;
}

.cart-qty {
  position: absolute;
  top: -5px;
  right: 0;
  width: 20px;
  height: 20px;
  background: #2A9D8F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}